@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.otf");
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular' !important;
}

body {
    cursor: context-menu;
    background: white;
}

.mainPage {
    /* background:  radial-gradient(114.97% 114.97% at 39.4% 114.97%, #B1B1FF 0%, #E3E2FF 100%); */
    background: #EAEAFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telCanalIcon img:nth-child(4) {
    width: 157.03px;
    height: 47.11px;
}

.imgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainDescriptionDiv {
    display: flex;
    flex-direction: column;
}

.mainDescriptionDiv h2 {
    max-width: 626px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 59px;
    line-height: 72px;
}

.mainDescriptionDiv p {
    max-width: 523px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin:35px 0;
}

.buttonDiv {
    display: flex;
    margin-bottom: 57px;
}

.buttonDiv a:nth-child(1){
    margin-right: 28px;
}

.buttonDiv a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 266px;
    height: 73px;
    background: #EEBA06;
    box-shadow: 0px 21px 55px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;     
    color: #282828;
    transition: 0.4s;

}

.button2 {
    background: #5C58FF !important;
    color: white !important;
}

.button1:hover{
    background: #00B624 !important;
    transform: translateY(-10px) !important;
}

.button2:hover{
    background: #00B624 !important;
    transform: translateY(-10px) !important;
}

.telCanalIcon {
    display: flex;
    align-items: center;
}

.telCanalIcon img{
    margin-right: 29px;
}

.telCanalIcon img {
    width: min-content;
    height: min-content;
}

.imgDiv img:nth-child(1) {
    width:415px;
    height:159px;
}


.imgDiv img:nth-child(2) {
    width: 872px;
    height: 543px;
}

@media screen and (min-width:3100px)  {
    .buttonDiv a:nth-child(1) {
        margin-right: 56px;
    }

    .imgDiv img:nth-child(1) {
        width: 830px;
        height: 318px;
    }

    .imgDiv img:nth-child(2) {
        width: 1744px;
        height: 1086px;
    }

    .mainDescriptionDiv h2 {
        font-weight: 600;
        font-size: 118px;
        max-width: 1252px;
        line-height: 144px;
    }

    .mainDescriptionDiv p {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 54px;
        max-width: 1191px;
        margin: 70px 0;
    }

    .buttonDiv a {
        width: 532px;
        height: 146px;
        font-size: 48px;
        border-radius: 20px;
    }

    .telCanalIcon img:nth-child(1) {
        width: 236.18px;
        height: 78.73px;
    }

    .telCanalIcon img:nth-child(2) {
        width: 248.94px;
        height: 84.39px;
    }

    .telCanalIcon img:nth-child(3) {
        width: 97.58px;
        height: 53.22px;
    }

    .telCanalIcon img:nth-child(4) {
        width: 235.55px;
        height: 70.66px;
    }

    .telCanalIcon img:nth-child(5) {
        width: 237.02px;
        height: 60.36px;
    }

    .telCanalIcon img {
        margin-right: 59px;
    }

    .buttonDiv {
        margin-bottom: 114px;
    }
}


@media screen and (min-width:2020px) and (max-width:3100px) {

    .buttonDiv {
        margin-bottom: 76px;
    }

    .buttonDiv a:nth-child(1) {
        margin-right: 37px;
    }

    .imgDiv img:nth-child(1) {
        width: 553.33px;
        height: 212px;
    }

    .imgDiv img:nth-child(2) {
        width: 1162.67px;
        height: 724px;
    }

    .mainDescriptionDiv h2 {
        max-width: 835px;
        font-weight: 600;
        font-size: 78.6667px;
        line-height: 96px;
    }

    .mainDescriptionDiv p {
        max-width: 794px;
        font-size: 24px;
        font-weight: normal;
        line-height: 36px;
        margin: 46px 0 ;
    }

    .buttonDiv a {
        width: 354.67px;
        height: 97.33px;
        font-weight: 600;
        font-size: 32px;
        border-radius: 13.3333px;
    }

    .telCanalIcon img:nth-child(1) {
        width: 157.46px;
        height: 52.49px;
    }

    .telCanalIcon img:nth-child(2) {
        width: 165.96px;
        height: 56.26px;
    }

    .telCanalIcon img:nth-child(3) {
        width: 65.05px;
        height: 35.48px;
    }

    .telCanalIcon img:nth-child(4) {
        width: 157.03px;
        height: 47.11px;
    }

    .telCanalIcon img:nth-child(5) {
        width: 158.01px;
        height: 40.24px;
    }

    .telCanalIcon img {
        margin-right: 39px;
    }
}








