@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.otf");
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular' !important;
}

@media screen and (min-width:1920px) {
    .menyu {
        transform: translateX(-237px);
        padding: 52px 18px 53px 52px;
        position: fixed;
        z-index: 1;
        width: 345px;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.15);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        left: 0;
        transition: 0.5s;
    }

    .showMenyu {
        transform: translateX(0px);
    }

    .menyuSlack {
        width: 18px;
        height: 38px;
        position: absolute;
        left: 0;
        top: 74px;
        left: 185px;
        top: 14px;
        display: none;
        transition: 0.5s;
    }

    .rightLeftSlack {
        left: -52px !important;
    }

    .active-class .menyuSlack {
        display: block;
    }

    .closeMenyuItem {
        cursor: pointer;
        margin-right: 11px;
    }

 
    /* 
            .close {
                width: 66px !important;
                height: 66px !important;
                display: flex !important;
                justify-content: center !important;
                align-items: center !important; 
                display: none !important;
    } */

    .menyuChild {
        display: flex;
        flex-direction: column;
        width: 257px;
    }

    label {
        position: relative;
        width: 272px;
    }

    .active-class .label {
        background: #00B624;
    }

    .active-class svg path {
        fill: #fff;
    }

    .labelChild {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 44px;
    }

    label .label {
        width: 66px;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
    }

    label:nth-child(3) .label {
        width: 66px;
        height: 66px;
        background: #4F4DFF !important;
        box-shadow: 2.93333px 8.8px 19.0667px rgba(79, 77, 255, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    label a:nth-child(1) {
        font-weight: 600;
        font-size: 24px;
        color: #28282870;
        text-decoration: none;
        cursor: pointer;
    }

    /* notification */

    .notification {
        width: 464px;
        height: 100%;
        position: fixed;
        right:-466px;
        top: 0;
        background: rgba(234, 234, 255, 0.966);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        z-index: 1;
        padding: 0 80px 30px 39px;
        transition: 0.5s;
        overflow-x: scroll;
    }

    .closeNotification {
        right: 0 !important;
    }

    .arrowBack {
        display: flex;
        align-items: center;
        color: #282828;
        margin-top: 50px;
        font-weight: bold;
        font-size: 25px;
    }
    
    .arrowBack span{
        margin-left: 46px;
    }
    
    .arrowBack a {
        width: 70px;
        height: 70px;   
        background: #FFFFFF;
        border-radius: 10px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .arrowBack a img {
        width: 23px;
    }

    .note {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 28px;
        cursor: pointer;
    }

    .loremMain {
        width: 100%;
        height: 77px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        /* transition: 0.2s; */
    }

    .lorem {
        width: 100%;
        margin-top: 27px;
        margin-bottom: 8px;
        display: flex;
        justify-content: left;
        align-items: center;
        font-weight: bold;
        font-size: 12px;
        text-align: left;
        line-height: 15px;
        color: #282828;
        display: none;
        animation-name: lorem;
        animation-duration: 0.2s;
    }

    @keyframes lorem {
        0% {
            margin: 0;
            height: 0px;
            visibility: hidden;
            opacity: 0;
        }

        20% {
            height: fit-content;
        }
    }

    .imgNote {
        min-width: 77px;
        height: 77px;
        background: #4F4DFF;
        box-shadow: 2px 6px 13px rgba(79, 77, 255, 0.4);
        /* box-shadow: 2px 6px 13px var(--boxShadow); */
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/note.png");
        background-size: 33px 38px;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 26px;
    }

    .note:nth-child(1) {
        margin-top: 57px;
    }

    .descriptionNote {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .descriptionNote span:nth-child(1) {
        display: inline-block;
        color: #282828;
        font-weight: bold;
        font-size: 16px;
    }

    .descriptionNote span:nth-child(2) {
        color: #282828;
        opacity: 0.8;
        font-weight: 500;
        font-size: 12px;
    }

    .svg {
        display: none;
    }

    .formPosition {
        position: absolute;
        left: 0;
        top: 141px;
        width: 100%;
        height: 77px;
        outline: none !important;
        border: none !important;
    }

    .notiChildDivInner {
        display: none;
    }

}

@media screen and  (min-width:1921px) and (max-width:3840px) {

    /* menyu */
    .menyu {
        padding-top: 110px;
        transform: translateX(-474px);
        width: 690px;
        box-shadow: 10px 8px 40px rgba(0, 0, 0, 0.15);
        transition: 0.5s;
    }

    .showMenyu {
        transform: translateX(0px);
    }

    label a:nth-child(1) {
        font-weight: 600;
        font-size: 48px;
    }

    label {
        width: 596px;
    }

    label:nth-child(3) {
        width: 600px;
    }

    label a:nth-child(1) {
        padding-left: 54px;
    }

    .menyuSlack {
        width: 41px;
        height: 100px;
        left: 422px !important;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .rightLeftSlack {
        left: -52px !important;
    }

    .svg {
        width: 57.25px;
        height: 57.25px;
        margin-right: 21px !important;
    }

    .srcImg {
        width: 78px;
        height: 50px;
        margin-right: 13px;
    }

    label .label {
        width: 124px;
        height: 124px;
    }

    label .label svg {
        width: 77.32px;
        height: 60px;
    }

    label:nth-child(3) .label {
        width: 132px;
        height: 132px;
    }

    .labelChild {
        margin-bottom: 108px;
    }

    /* notification */

    .notification  {
        width: 928px;
        padding: 0 160px 30px 78px;
        right: -930px;
    }

    .callbackSpan {
        font-weight: bold;
        font-size: 50px;
    }

    .arrowBack {
        margin-top: 100px;
    }

    .callBack {
        width: 139.56px !important;
        height: 139.45px !important;
        border-radius: 20px !important;
    }

    .callBack img {
        width: 47.75px !important;
    }

    .note:nth-child(1) {
        margin-top: 102px;
    }

    .note {
        margin-top: 56px;
    }

    .loremMain {
        height: 154px;  
    }

    .imgNote {
        min-width: 154px;
        height: 154px;  
        border-radius: 40px;
        box-shadow: 4px 12px 26px rgba(0, 182, 36, 0.4);
        background-size: 66px 76px;
        margin-right: 52px;
    }

    .descriptionNote span:nth-child(1) {
        font-weight: bold;
        font-size: 32px;
        margin-right: 52px;
    }

    .descriptionNote span:nth-child(2) {
        font-weight: 500;
        font-size: 24px;
    }

    .lorem {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        padding-left: 20px;
        margin-top: 36px;
    }
}



@media screen and  (min-width:1921px) and (max-width:2560px) {

    .menyu {
        padding-top: 70px;
        width: 460px;
        box-shadow: 6.66667px 5.33333px 26.6667px rgba(0, 0, 0, 0.15);
        transform: translateX(-316px);
    }

    label a:nth-child(1) {
        font-weight: 600;
        font-size: 32px;
    }

    label {
        width: 382px;
    }

    label a:nth-child(1) {
        padding-left: 18px;
    }

    .svg {
        width: 38.16px;
        height: 38.16px;
        margin-right: 12px !important;
    }

    .srcImg {
        width: 52px;
        height: 33.33px;
        margin-right: 2px;
    }

    label .label svg {
        width: 51.54px;
        height: 40px;
    }

    label .label {
        width: 82.67px;
        height: 82.67px;
    }

    label:nth-child(3) .label {
        width: 88px;
        height: 88px;
        box-shadow: 3.91111px 11.7333px 25.4222px rgba(79, 77, 255, 0.4);
    }

    .labelChild {
        margin-bottom: 84px;
    }

    label:nth-child(3) {
        width: 384px;
    }

    .showMenyu {
        transform: translateX(0px);
    }

    .menyuSlack {
        width: 28px;
        height: 46px;
        left: 264px !important;
        top: 18px;
    }

    .rightLeftSlack {
        left: -52px !important;
    }

    /* notification */

    .notification {
        width: 618.67px;
        box-shadow: 0px 5.33333px 26.6667px rgba(0, 0, 0, 0.25);
        padding: 0 130px 39px 57px;
        right: -620px;
    }

    .arrowBack {
        margin-top: 66px;
    }

    .callBack {
        width: 93.04px !important;
        height: 92.97px !important;
        border-radius: 13.3333px !important;
    }

    .callBack img {
        width: 31.83px !important;
    }

    .callbackSpan {
        font-weight: bold;
        font-size: 33.3333px;
        margin-left: 61px;
    }

    .imgNote {
        min-width: 102.67px !important;
        height: 102.67px !important;
        background-size: 44px 50px !important;
        border-radius: 26.6667px !important;    
        margin-right: 34px !important;
    }

    .descriptionNote span:nth-child(1) {
        font-weight: bold;
        font-size: 21.3333px;
        line-height: 26px;
        margin-top: 0;
    }

    .loremMain {
        height: fit-content;
    }

    .note:nth-child(1) {
        margin-top: 68px !important;
    }

    .note {
        margin-top: 37px !important;
    }

    .descriptionNote span:nth-child(2) {
        font-weight: 500;
        font-size: 24px;
    }

}