@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.otf");
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular' !important;
}

.registerQrImg {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: 29px;
}

.registerQrImg img {
    width: 100%;
    height: 100%;
} 

.linkDiv {
    margin-bottom: 87px !important;
}

.signInLogDiv {
    height: 687px !important;
    padding-bottom: 43px !important;
}

.qrText {
    font-weight: normal;
    font-size: 18px;
    padding: 18px 31px;
    width: fit-content;
    background: #CCE1E4;
    border-radius: 10px;
    margin: 0 auto;
    letter-spacing: 1px;
    margin-bottom: 29px;
}

.agreeCondition {
    display: block !important;
    color: #28282871;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}

.imgDiv a > img {
    width: 143.43px;
    height: 55px;
}

.signInImg img {
    width: 872.69px !important;
    height: 1006px !important;
}

@media screen and (min-width:2200px) {
    .signInLogDiv {
        height: 916px !important;
    }

    .signInImg img {
        width: 1163.58px !important;
        height: 1341.33px !important;
    }

    .imgDiv a > img {
        width: 191.24px;
        height: 73.33px;
    }

    .linkDiv {
        margin-bottom: 116px !important;
    }

    .registerQrImg {
        width: 427px;
        height: 427px;
        margin-bottom: 39px;
    }

    .qrText {
        font-weight: normal;
        font-size: 24px;
        border-radius: 13.3333px;
        padding:  25px 42px;
        margin-bottom: 38px;
    }

    .agreeCondition {
        font-weight: 500;
        font-size: 24px;
    }

    .linkRegSign::after {
        height: 4px !important;
    }
}


@media screen and (min-width:3150px) {
    .signInLogDiv {
        height: 1374px !important;
    }

    .signInImg img {
        width: 1745.38px !important;
        height: 2012px !important;
    }

    .imgDiv a > img {
        width: 286.86px;
        height: 110px;
    }

    .linkDiv {
        margin-bottom: 175px !important;
    }

    .registerQrImg {
        width: 640px;
        height: 640px;
        margin-bottom: 58px;
    }

    .qrText {
        font-weight: normal;
        font-size: 36px;
        border-radius: 20px;
        padding:  37px 63px ;
        margin-bottom: 58px;
    }

    .agreeCondition {
        font-weight: 500;
        font-size: 36px;
    }

    .linkRegSign::after {
        height: 6px !important;
    }

}


