* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: context-menu;
    background:  white;
    font-family: 'Montserrat' !important;
}



@media screen and (min-width:300px) and (max-width:3840px){ 
    .screenMain {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        background: #EAEAFF;
    
    }
    
    .childScreen {
        width: 1660px;
        margin-left: 195px;
        padding-top: 37px;
    }
    
    .ProUl {
        display: flex;
        align-items: center;
    }
    
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header a > img {
        width: 153px;
        height: 59px;
    }
    
    .ProUl input {
        width: 389px;
        height: 47px;
        background: #FFFFFF;
        border-radius: 52px;
        font-size: 18px;
        font-weight: 400;
        padding-left: 56px;
        border: none;
        background-image: url("../images/search.png");
        background-repeat: no-repeat;
        background-size: 17px 17px;
        background-position: 22px;
        color: rgba(0, 0, 0, 0.692);
        margin-right: 42px;
    }
    
    .ProUl p img {
        margin-right: 15px;
    }
    
    .refresh img {
        margin-right: 18px;
        width: 16px;
        height: 15.5px;
    }
    
    .clock {
        font-weight: 500;
        font-size: 18px;
        margin-right: 40px;
        color: rgba(40, 40, 40, 1);
    }
    
    .ProUl p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
    
    .calendar {
        color: rgba(40, 40, 40, 1);
        font-weight: 500;
        font-size: 18px;
    }
    
    
    .arrowBack {
        display: flex;
        align-items: center;
        color: #282828;
        margin-top: 91px;
        font-weight: bold;
        font-size: 25px;
    }
    
    .arrowBack span {
        margin-left: 46px;
    }
    
    .arrowBack a {
        width: 70px;
        height: 70px;   
        background: #FFFFFF;
        border-radius: 10px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .childScreenSize {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 91px;
    }
    
    .childScreenSize .div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 487px;
        height: 279px;
        background: #CECDFF;
        margin-bottom: 47px;
    }
    
    .childScreenSize .div:nth-child(n+4) {
        margin-bottom: 0;
    }
    
    .div {
        border-radius: 10px;
        cursor: pointer;
    }

    .div:hover {
        border: 2px solid #00B624;
    }
    
    .childDiv {
        width: 330px;
        height: 170px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .childDiv:nth-child(1) {
        align-content: space-between;
    }
    
    .div:nth-child(1) .childDiv p{
        width: 157px;
        height: 77px;
        background: #4F4DFF;
    }
    
    .div:nth-child(2) .childDiv p{
        width: 101px;
        height: 75px;
        background: #4F4DFF;
    }
    
    .div:nth-child(2) .childDiv p:nth-child(1){
        width: 100%;
    }
    
    .div:nth-child(3) .childDiv p{
        width: 159px;
        height: 75px;
        background: #4F4DFF;
    }
    
    .div:nth-child(3) .childDiv p:nth-child(1){
        width: 100%;
    }
    
    .div:nth-child(4) .childDiv p{
        width: 159px;
        height: 76px;
        background: #4F4DFF;
    }
    
    .div:nth-child(4) .childDiv p:nth-child(3){
        width: 100%;
    }
    
    .div:nth-child(5) .childDiv p{
        width: 160px;
        height: 170px;
        background: #4F4DFF;
    }
    
    .div:nth-child(6) .childDiv p{
        width: 100%;
        height: 75px;
        background: #4F4DFF;
    }    
}





@media screen and (min-width:2250px) and (max-width:3840px) {
    .childScreen {
        max-width: 3300px;
        width: 100%;
        margin-left: 390px;
    }

    /* children */
    .header a > img {
        width: 306px;
        height: 118px;
    }

    .ProUl input {
        width: 778px;
        height: 94px;
        box-shadow: 0px 8.44376px 42.2188px rgba(0, 0, 0, 0.02);
        border-radius: 105.547px;
        background-size: 34px 34px;
        background-position: 43px;
        font-weight: normal;
        font-size: 36px;
        padding-left: 112px;
        margin-right: 80px;
    }

    .clock {
        font-weight: 500;
        font-size: 36px;
        width: 195px;
        margin-right: 81px;
    }

    .ProUl p img {
        width: 31px;
        height: 31px;
        margin-right: 30px;
    }

    .calendar {
        font-weight: 500;
        font-size: 36px;
    }

    .arrowBack {
        margin-top: 94px !important;
        font-weight: bold !important;
        font-size: 33.3333px !important;
        text-transform: uppercase !important;
    }

    .arrowBack a {
        width: 139.56px !important;
        height: 139.45px !important;
        border-radius: 20px !important;
    }

    .arrowBack span {
        margin-left: 92px !important;
    }

    .arrowBack a img {
        width: 47px !important;
    }

    .childScreenSize {
        margin-top: 142px;
    }

    .childScreenSize .div {
        width: 976px !important;
        height: 558px !important;
        border-radius: 20px !important;
    }

    .childDiv {
        width: 664px !important;
        height: 346px !important;
    }

    .div:nth-child(1) .childDiv p {
        width: 314px;
        height: 154px;
    }

    .div:nth-child(2) .childDiv p {
        width: 202px;
        height: 150px;
    }

    .div:nth-child(3) .childDiv p {
        width: 316px;
        height: 150px;
    }

    .div:nth-child(4) .childDiv p {
        width: 318px;
        height: 152px;
    }

    .div:nth-child(5) .childDiv p {
        width: 320px;
        height: 340px;
    }

    .div:nth-child(6) .childDiv p {
        height: 152px;
    }

    


}

@media screen and (min-width:2250px) and (max-width:3700px) {
    .childScreen {
        max-width: 3000px;
        width: 100%;
        margin-left: 260px;
    }
}

@media screen and (min-width:2250px) and (max-width:3300px) {
    .childScreen {
        max-width: 2200px;
        width: 100%;
        margin-left: 260px;
    }
}

@media screen and (min-width:2250px) and (max-width:2560px) {
    .childScreen {
        width: 100%;
        margin-left: 260px;
    }

    .childScreenSize .div {
        width: 649.33px !important;
        height: 372px !important;
        border-radius: 13.3333px !important;
    }

    .childDiv {
        width: 442px !important;
        height: 229px !important;
    }

    .div:nth-child(1) .childDiv p {
        width: 209.33px;
        height: 102.67px;
    }

    .div:nth-child(2) .childDiv p {
        width: 134.67px;
        height: 100px;
    }

    .div:nth-child(3) .childDiv p {
        width: 212px;
        height: 100px;
    }

    .div:nth-child(4) .childDiv p {
        width: 212px;
        height: 101.33px;
    }

    .div:nth-child(5) .childDiv p {
        width: 213.33px;
        height: 226.67px;
    }

    .div:nth-child(6) .childDiv p {
        height: 101.33px;
    }
}


@media screen and (min-width:2250px) and (max-width:2480px) {
    .childScreen {
        max-width: 1980px;
        width: 100%;
    }
}
