.settingUser {
    width: 1148px;
    /* background: crimson; */
    margin-left: 390px;
    margin-top: 128px;
}

.uploadfileDiv {
    width: 100%;
    height: 269.53px;
    padding: 43px 46px;
    background: #FFFFFF;
    box-shadow: 0px 13.3101px 66.5507px rgba(0, 0, 0, 0.15);
    border-radius: 16.6377px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}

.userImg {
    width: 183.01px;
    height: 183.01px;
    border-radius: 16.6377px;
}

.uploadfileDiv input {
    display: none;
}

.uploadfileDiv label{
    width: 818.57px;
    height: 183.01px;
    background: #CCE1E4;
    border-radius: 16.6377px;
    color: #006879;
    font-weight: 600;
    font-size: 46.5855px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userInputDivmini {
    width: 100%;
    height: 149.74px;
    padding: 29px 66px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    align-items: center;
    box-shadow: 0px 13.3101px 66.5507px rgba(0, 0, 0, 0.15);
    border-radius: 16.6377px;
    margin-bottom: 43px;
}

.userSettings {
    font-weight: 600;
    font-size: 46.5855px;
    color: rgba(40, 40, 40, 0.7);
}

.editSvg {
    width: 49.91px;
    height: 43.26px;
    cursor: pointer;
}

.userinputValue {
    font-weight: 600;
    font-size: 46.5855px;
    color: #282828;
    /* padding-left: 160px; */
    border: none;
}


input[type=text]:read-only {
    border: none;
    outline: none;
}

input[type=password]:read-only {
    border: none;
    outline: none;
}
.userinputValue:focus {
    outline: none;
    border: 2px solid #EEBA06;
    border-radius: 15px;
}

.name, .email {
    margin-left: 55px;
}

.slackLanguig {
    width: 46.59px;
    height: 23.29px;
    background-image: url("../images/slackLanguig.svg");
    background-color: transparent;
    border: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    cursor: pointer;
}

.languigName {
    font-weight: 600;
    font-size: 46.5855px;
    color: rgba(40, 40, 40, 0.7);
    margin-left: 66px;
    display: flex;
    align-items: center;
}

.languigDiv {
    justify-content:space-between;
    margin-bottom: 5px;
    cursor: pointer;
}

.imgLang {
    display: flex;
}

.clickLanguig {
    width: 1148px;
    height: 169.7px;
    background: #EEBA06;
    border-radius: 33.2754px;
    font-weight: 600;
    font-size: 59.8957px;
    border: none;
    outline: none;
    margin-top: 43px;
}

.addingLanguig {
    display: none;
}

@media screen and (max-width:2560px) {
    .settingUser {
        width: 765.33px;
        height: fit-content;
        border-radius: 11.0918px;
    }

    .uploadfileDiv {
        height: 179.69px;
        padding: 28px 31px;
        margin-bottom: 28px;
    }

    .userImg {
        width: 122.01px;
        height: 122.01px;
        border-radius: 11.0918px;
    }

    .uploadfileDiv label {
        width: 545.72px;
        height: 122.01px;
        font-weight: 600;
        font-size: 31.057px;
    }

    .userInputDivmini {
        height: 99.83px;
        padding: 19px 44px;
        margin-bottom: 28px;
    }

    .userSettings {
        font-weight: 600;
        font-size: 31.057px;
    }

    .userinputValue {
        font-weight: 600;
        font-size: 31.057px;
    }

    .editSvg {
        width: 33.28px;
        height: 28.84px;
    }

    .languigImg {
        width: 66.52px;
        height: 46.57px;
    }

    .languigName {
        font-weight: 600;
        font-size: 31.0435px;
    }

    .slackLanguig {
        width: 31.04px;
        height: 15.52px;
    }

    .clickLanguig {
        width: 765.33px;
        height: 113.14px;
        border-radius: 22.1836px;
        font-weight: 600;
        font-size: 39.9304px;
        margin-top: 29px;
    }

    .languigDiv {
        margin-bottom: 5px;
    }
}


@media screen and (max-width:2000px) {
    .settingUser {
        width: 574px;
        border-radius: 8.31884px;
    }

    .uploadfileDiv {
        height: 134.77px;
        border-radius: 8.31884px;
        padding: 21px 23px;
        margin-bottom: 21px;
    }

    .uploadfileDiv label {
        width: 409.29px;
        height: 91.51px;
        border-radius: 8.31884px;
        font-weight: 600;
        font-size: 23.2928px;
    }

    .languigDiv {
        margin-bottom: 5px !important;
    }

    .userImg {
        width: 91.51px;
        height: 91.51px;
        border-radius: 8.31884px;
    }

    .userInputDivmini {
        height: 74.87px;
        padding: 14px 33px;

    }

    .userSettings {
        font-weight: 600;
        font-size: 23.2928px;
    }

    .userinputValue {
        font-weight: 600;
        font-size: 23.2928px;
    }

    .editSvg {
        width: 24.96px;
        height: 21.63px;
    }

    .languigImg {
        width: 49.91px;
        height: 34.94px;
    }

    .languigName {
        font-weight: 600;
        font-size: 23.2928px;
    }

    .slackLanguig {
        width: 23.29px;
        height: 11.65px;
    }

    .clickLanguig {
        width: 574px;
        height: 84.85px;
        border-radius: 16.6377px;
        font-weight: 600;
        font-size: 29.9478px;
        margin-top: 21px;
    }
}



