@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.otf");
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular' !important;
}

body {
    cursor: context-menu;
    background:  white;
}

.Logo img {
    width: 143.43px;
    height: 55px;
}

.signIn {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #EAEAFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgDiv {
    display: flex;
    flex-direction: column;
}

.Logo {
    margin-left: 146px;
    margin-top: 41px;
}

.signInImg {
    margin-left: 187px;
    margin-right: 138px;
    margin-top: 79px;
}

.signInLogDiv {
    margin-top: 198px;
    width: 645px;
    height: 583px;
    padding: 59px 56px 63px 56px ;
    background: #FFFFFF;
    border-radius: 20px;
}

.linkDiv {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 49px;
}

.linkDiv a{
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    color: rgba(17, 16, 87, 0.2);
}

.linkRegSign::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 69px;
    height: 3px;
    background: #EEBA06;
    display: none;
}

.activeLink::after {
    display: block !important;
}

.activeLink {
    color: #282828 !important;
}

.formSignIn input {
    margin-bottom: 20px;
    width: 100%;
    height: 70px;
    color: #28282880;
    font-weight: 600;
    font-size: 24px;
    padding-left: 40px;
    background: #2828282c;
    box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    outline: none;
}

.formSignIn input::placeholder {
    color: #28282855;
    opacity: 0.8;
    font-weight: 600;
    font-size: 24px;
}

.PasswordP {
    position: relative;
}

.eyeButton {
    background: transparent;
    border: none;
    outline: none;
    width: 23px;
    height: 18px;
    position: absolute;
    right: 25px;
    top: 25px;
    background: url("../images/eyeInput.svg");
    /* background-size: 23px 18px ; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.forgetPassword {
    font-weight: 500;
    font-size: 18px;
    color: #282828;
    opacity: 0.71;
    text-align: end;
    width: 100%;
    display: block;
}

.signInMainButton {
    color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 73px;
    background: #EEBA06;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    border: none;
    outline: none;
    text-decoration: none;
    transition: 0.3s;
}

.signInMainButton:hover {
    color: white;
    background: #4F4DFF;
}

.footer {
    width: 460px;
    height: 46px;
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.719);
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #282828;
    opacity: 0.2;
    font-weight: 500;
    font-size: 18px;
}

@media screen and (min-width:2200px) {
    .Logo img {
        width: 191.24px;
        height: 73.33px;
    }

    .signInImg img {
        width: 988px;
        height: 986.67px;
    }

    .signInLogDiv {
        width: 860px;
        height: 777.33px;
        border-radius: 26.6667px;
        padding: 74px 78px;
    }

    .linkDiv {
        margin-bottom: 65px;
    }

    .linkDiv a {
        font-weight: bold;
        font-size: 40px;
    }

    .formSignIn input {
        height: 93.33px;
        border-radius: 13.3333px;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 26px;
    }

    .formSignIn input::placeholder {
        color: #28282855;
        font-weight: 600;
        font-size: 32px;
        opacity: 0.8;
    }

    .eyeButton {
        width: 31px;
        height: 24px;
        right: 34px;
        top: 34px;
    }

    .forgetPassword {
        font-weight: 500;
        font-size: 24px;
    }

    .signInMainButton {
        /* width: 710.67px; */
        height: 97.33px;
        border-radius: 13.3333px;
        margin-top: 26px;
        font-weight: 600;
        font-size: 32px;
    }

    .footer {
        width: 614px;
        font-weight: 500;
        font-size: 24px;
        height: 62px;
    }

    .linkRegSign::after{
        top: 60px;
        width: 92px;
    }

}

@media screen and (min-width:3150px) {
    .Logo img {
        width: 286.86px;
        height: 110px;
    }

    .signInImg img {
        width: 1482px;
        height: 1480px;
    }

    .signInLogDiv {
        width: 1290px;
        height: 1166px;
        padding: 112px 118px;
        border-radius: 40px;
    }

    .linkDiv a {
        font-weight: bold;
        font-size: 60px;
    }

    .linkDiv {
        margin-bottom: 98px;
    }

    .formSignIn input {
        height: 140px;
        font-weight: 600;
        font-size: 48px;
        border-radius: 20px;
        margin-bottom: 40px;
    }

    
    .formSignIn input::placeholder {
        color: #28282855;
        font-weight: 600;
        font-size: 48px;
        opacity: 0.8;
    }

    .eyeButton {
        width: 48px;
        height: 37px;
        top: 51px;
        right: 51px;
    }
    
    .forgetPassword {
        font-weight: 500;
        font-size: 36px;
    }

    .signInMainButton {
        height: 146px;
        border-radius: 20px;
        margin-top: 40px;
        font-weight: 600;
        font-size: 48px;
    }

    .footer {
        width: 921px;
        font-weight: 500;
        font-size: 36px;
        height: 94px;
        margin-top: 68px;
    }

    .linkRegSign::after {
        top: 90px;
        width: 138px;
        height: 6px;
    }
}











