* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    overflow-x: hidden;
    cursor: context-menu;
    font-family: 'Montserrat' !important;
    background: white;
}

@media screen and (min-width:300px) {
    .playlistMain {
        position: relative;
        overflow-x: hidden;
        width: 100vw;
        background: #EAEAFF;
        height: 100vh;
    }

    .activeInput {
        position: absolute;
        width: 100% !important;
        left: 0;
        top: 228px;
    }
    
    
    .childPlaylist {
        width: 1660px;
        margin-left: 195px;
        padding-top: 37px;
    }
    
    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header a > img {
        width: 153px;
        height: 59px;
    }
    
    .ProUl {
        display: flex;
        align-items: center;
    }
    
    .ProUl p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
    
    .ProUl p img {
        margin-right: 15px;
    }

    .ProUl input {
        width: 389px;
        height: 47px;
        background: #FFFFFF;
        border: none;
        outline: none;
        border-radius: 52px;
        font-size: 18px;
        font-weight: 400;
        padding-left: 56px;
        border: none;
        background-image: url("../images/search.png");
        background-repeat: no-repeat;
        background-size: 17px 17px;
        background-position: 22px;
        color: rgba(0, 0, 0, 0.692);
        margin-right: 42px;
    }
    
    .refresh {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 174px;
        height: 47px;
        background: #00B624;
        border-radius: 9px;
        margin-right: 40px;
        color: white;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Montserrat' !important;
        border: none;
        cursor: pointer;
    }
    
    .refresh img {
        margin-right: 18px;
        width: 16px;
        height: 15.5px;
    }
    
    .clock {
        font-weight: 500;
        font-size: 18px;
        margin-right: 40px;
        color: rgba(40, 40, 40, 1);
    }
    
    .calendar {
        color: rgba(40, 40, 40, 1);
        font-weight: 500;
        font-size: 18px;
    }

    .PlaylistChannel {
        display: flex;
        flex-direction: column;
    }

    .arrowBack {
        display: flex;
        align-items: center;
        color: #282828;
        margin-top: 35px;
        font-weight: bold;
        font-size: 25px;
    }

    .arrowBack span {
        margin-left: 46px;
    }
    
    .arrowBack a {
        width: 70px;
        height: 70px;   
        background: #FFFFFF;
        border-radius: 10px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .activeButton {
        background: #4F4DFF !important;
        color: white !important;
    }

    .refChannel {
        display: flex;
        margin-top: 50px;
    }

    .refChannel button {
        cursor: pointer;
        outline: unset;
        transition: .3s ease;
        border: unset;
        color: black;
        background: #FFFFFF;
        height: 65px;
        padding: 20px 49px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 21px;
    }

    .refChannel button:nth-child(n+1) {
        margin-right: 30px;
    }

    /* .refChannel button:nth-child(3) {
        margin-right: 0;
    } */

    .TvChannelBlock {
        display: flex;
        flex-wrap: wrap;
        margin-top: 51px;
    }

    .parentChild {
        display: flex;
        flex-direction: column;
        width: 209px !important;
        height: fit-content;
        margin-right: 20px;
    }

    .channelsChild {
        text-decoration: none;
        width: inherit;
        height: 187px;  
        border-radius: 15.452px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .channelsChild:hover {
        border: 2px solid #00B624;
        transform: translateY(-16px);
    }

    .text {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .TvChannelBlockChild {
        display: none;
    }
}


@media screen and (min-width:1921px) and (max-width:4500px) {
    .childPlaylist {
        width: 3300px;
        margin-left: 390px;
    }   

    .header a > img {
        width: 306px;
        height: 118px;
    }

    
    .ProUl input {
        width: 778px;
        height: 94px;
        box-shadow: 0px 8.44376px 42.2188px rgba(0, 0, 0, 0.02);
        border-radius: 105.547px;
        background-size: 34px 34px;
        background-position: 43px;
        font-weight: normal;
        font-size: 36px;
        padding-left: 112px;
        margin-right: 80px;
    }

    .clock {
        font-weight: 500;
        font-size: 36px;
        width: 210px;
        margin-right: 81px;
    }

    .ProUl p img {
        width: 31px;
        height: 31px;
        margin-right: 30px;
    }

    .calendar {
        font-weight: 500;
        font-size: 36px;
    }

    .arrowBack {
        margin-top: 94px !important;
        font-size: 50px !important;
    }

    .arrowBack a {
        width: 139.56px !important;
        height: 139.45px !important;
        border-radius: 20px !important;
    }

    .arrowBack span {
        margin-left: 92px !important;
    }

    .arrowBack a img {
        width: 47px !important;
    }

    .refresh {
        width: 348px;
        height: 94px;
        border-radius: 18px;
        font-weight: 600;
        font-size: 40px;
    }

    .refresh img {
        width: 32px;
        height: 31px;    
        margin-right: 36px;
    }

    .refChannel button {
        /* width: 508px; */
        height: 130px;
        box-shadow: 0px 20px 40px rgba(79, 77, 255, 0.49);
        border-radius: 17.4306px;
        font-weight: 800;
        font-size: 42.2687px;
    }

    .parentChild {
        width: 424px !important;
        margin-right: 47px;
    }

    .channelsChild {
        height: 374px;
        box-shadow: 0px 6.18079px 30.904px rgba(0, 0, 0, 0.02);
        border-radius: 30.904px;
    }

    .channelsChild img {
        width: 335.66px;
        height: 111.89px;
    }

    .text {
        font-weight: bold;
        font-size: 36px;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .refChannel {
        margin-top: 102px;
    }

    .TvChannelBlock {
        margin-top: 102px;
    }

    .refChannel button:nth-child(n+1) {
        margin-right: 60px;
    }
}


@media screen and (min-width:1921px) and (max-width:3700px) {
    .childPlaylist {
        width: 2355px;
    }
}

@media screen and (min-width:1921px) and (max-width:2750px) {
    .childPlaylist {
        width: 2200px;
        margin-left: 260px;
    }

    header > img {
        width: 204px !important;
        height: 78.67px !important;
    }

    .ProUl input {
        width: 518.67px;
        height: 62.67px;
        border-radius: 70.3647px;
        background-size: 23px 23px;
        font-size: 24px;
        background-position: 29px;
        padding-left: 74px;
        margin-right: 53px;
    }

    .clock {
        font-weight: 500;
        font-size: 24px;
        width: 140px;
        margin-right: 54px;
    }

    .ProUl p img {
        width: 20.67px;
        height: 20.67px;
        margin-right: 20px;
    }

    .calendar {
        font-weight: 500;
        font-size: 24px;    
    }

    .refresh {
        width: 232px;
        height: 62.67px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 26.6667px;
    }

    .refresh img {
        width: 21.33px;
        height: 20.67px;
        margin-right: 24px;
    }

    .arrowBack a {
        width: 93.04px !important;
        height: 92.97px !important;
        border-radius: 13.3333px !important;
    }

    .arrowBack span {
        margin-left: 61px !important;
    }
 
    .arrowBack a img {
        width: 31px !important;
    }

    .arrowBack {
        margin-top: 94px !important;
        font-weight: bold !important;
        font-size: 33.3333px !important;
        text-transform: uppercase !important;
    }

    .TvChannelBlock {
        margin-top: 68px;
    }

    .parentChild {
        width: 282.67px !important;
        margin-right: 31px;
    }

    .channelsChild {
        height: 249.33px;
        box-shadow: 0px 4.12053px 20.6026px rgba(0, 0, 0, 0.02);
        border-radius: 20.6026px;
    }

    .channelsChild img {
        width: 223.77px;
        height: 74.59px;
    }

    .text {
        margin-top: 20px;
        margin-bottom: 40px;
        font-weight: bold;
        font-size: 24px;
    }

    .refChannel {
        margin-top: 68px;
    }

    .refChannel button {
        /* width: 338.67px; */
        height: 86.67px;
        box-shadow: 0px 13.3333px 26.6667px rgba(79, 77, 255, 0.49);
        border-radius: 11.6204px;
        font-weight: 800;
        font-size: 28.1791px;
    }

    .refChannel button:nth-child(n+1) {
        margin-right: 40px;
        /* padding: 0 !important; */
    }
}

@media screen and (min-width:1921px) and (max-width:2490px) {
    .childPlaylist {
        width: 1604px;
    }
}