@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.otf");
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular' !important;
}

.forgetPassword {
    width: 1290px;
    height: 758px;
    background: #FFFFFF;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 546px;
    padding:  118px 112px;
    position: relative;
}

.paswordtitle {
    font-weight: bold;
    font-size: 60px;
    color: #010023;
    margin-bottom: 74px;
}

.changingInput {
    font-weight: 600;
    font-size: 48px;
    color: #282828;
    padding-left: 80px;
    width: 1066px;
    height: 140px;
    box-shadow: inset 4px 8px 20px rgba(0, 0, 0, 0.089);
    border-radius: 20px;
    background: #28282810;
    border: none;
    margin-bottom: 70px;
}

.confirmButton {
    background: #EEBA06;
    border-radius: 20px;
    width: 100%;
    height: 146px;  
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 48px;
    cursor: pointer;
}

/* .formChild {
    display: block;
} */

.goBAckSlack {
    background: rgba(196, 196, 196, 0.2);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-image: url("../images/goBackSvg.svg");
    background-size:auto;
    background-position: center;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    position: absolute;
    left: 54px;
    top: 64px;
}

.letterReceive {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}

.recLetDescription {
    font-weight: bold;
    font-size: 60px;
    color: #010023;
    margin-top: 68px;
    text-align: center;
    width: 674px;
}

.recLetter {
    width: 358px;
    height: 344px;
}

.confirmnewPassword {
    width: 1066px;
    height: 146px;
    border-radius: 20px;
    background: #EEBA06;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 48px;
    text-decoration: none;
    color: #282828;
}

@media screen and (max-width:3000px) {
    .forgetPassword {
        width: 860px;
        height: 505.33px;
        border-radius: 26.6667px;
        padding: 78px 74px;
        margin-top: 338px;
    }

    .paswordtitle {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 49px;
    }

    .changingInput {
        width: 710.67px;
        height: 93.33px;
        box-shadow: inset 2.66667px 5.33333px 13.3333px rgba(0, 0, 0, 0.25);
        border-radius: 13.3333px;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 46px;
        padding-left: 53px;
    }

    .confirmButton {
        width: 710.67px;
        height: 97.33px;
        border-radius: 13.3333px;
        font-weight: 600;
        font-size: 32px;
    }

    .confirmnewPassword {
        width: 710.67px;
        height: 97.33px;
        border-radius: 13.3333px;
        font-weight: 600;
        font-size: 32px;
    }

    .recLetter {
        width: 238px;
        height: 229px;
    }

    .goBAckSlack {
        width: 66.67px;
        height: 66.67px;
        border-radius: 6.66667px;
        background-size: 22px 22px;
    }

    .recLetDescription {
        font-weight: bold;
        font-size: 40px;
        margin-top: 45px;
        width: 517px;
    }
}

@media screen and (max-width:2000px) {
    .forgetPassword {
        padding: 59px 56px;
        width: 645px;
        height: 379px;
        border-radius: 20px;
        margin-top: 254px;
    }

    .paswordtitle {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 37px;
    }

    .changingInput {
        width: 533px;
        height: 70px;
        font-weight: 600;
        font-size: 24px;    
        margin-bottom: 35px;    
        padding-left: 40px;
    }

    .confirmButton {
        width: 533px;
        height: 73px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .goBAckSlack {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-size: 17px 17px;
    }

    .recLetter {
        width: 179px;
        height: 172px;
    }

    .recLetDescription {
        font-weight: bold;
        font-size: 30px;
        margin-top: 34px;
        width: 426px;
    }

    .confirmnewPassword {
        width: 533px;
        height: 73px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 24px;
    }

}