.forgetPassword {
    height: 930px !important;
}

.labelInput {
    position: relative;
}

.eyeBUTTON {
    width: 61px;
    height: 48px;
    background: url("../images/eyeInput.svg");
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 45px;
    right: 45px;
    background-color: transparent;
    border: none;
    outline: none;
}

@media screen and (max-width:3000px) {
    .forgetPassword {
        height: 620px !important;
        margin-top: 281px !important;
    }

    .eyeBUTTON {
        width: 40px;
        height: 32px;
        top: 30px;
        right: 30px;
    }

}

@media screen and (max-width:2000px) {
    .forgetPassword {
        height: 465px !important;
        margin-top: 211px !important;
    }

    .eyeBUTTON {
        width: 30px;
        height: 24px;
        top: 22px;
        right: 22px;
    }
}