@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat-Regular";
}

body {
    cursor: context-menu;
    background:  white;
    font-family: 'Montserrat' !important;
}

.channelMainPage {
    position: relative;
    overflow: hidden;
    background: #EAEAFF;
    width: 100vw;
    height: 100vh;
}

.mainPageSizerDiv {
    width: 1660px;
    margin-left: 195px;
    padding-top: 37px;
}

.ProUl {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a > img {
    width: 153px;
    height: 59px;
}

.ProUl input {
    width: 389px;
    height: 47px;
    background: #FFFFFF;
    border-radius: 52px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 56px;
    border: none;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: 22px;
    color: rgba(0, 0, 0, 0.692);
    margin-right: 40px;
    box-shadow: 0px 4.22188px 21.1094px rgba(0, 0, 0, 0.02);
}

.clock {
    font-weight: 500;
    font-size: 18px;
    margin-right: 40px;
    color: rgba(40, 40, 40, 1);
    width: 108px;
}

.ProUl p img {
    margin-right: 15px;
}

.ProUl p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.calendar {
    color: rgba(40, 40, 40, 1);
    font-weight: 500;
    font-size: 18px;
}

.MultiChannel {
    margin-top: 75px;
    display: flex;
}

.channelBlock {
    width: 530px;
    height: 478px;
    background: linear-gradient(to bottom, #6E6EF4 74%,#6160FF 21%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
}
    
.channelBlock h2 {
    text-align: center;
    max-width: 285px;
    font-weight: 900;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.LiveMoveSeries1 p {
    font-weight: 800;
    font-size: 40px;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
}

.LiveMoveSeries2 p {
    font-weight: 800;
    font-size: 40px;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
}

.LiveMoveSeries3 p {
    font-weight: 800;
    font-size: 40px;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
}

.childChannel {
    display: flex;
    flex-direction: column;
}

.LiveMoveSeriesParent {
    display: flex;
}

.LiveMoveSeries1 {
    margin-left: 30px;
    box-shadow: 0px 17px 50px rgba(238, 159, 6, 0.5);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 344px;
    height: 344px;
    border-radius: 20px;
    background: #EE9F06;
    padding-top: 65px;
}

.LiveMoveSeries1:hover {
    transform: scale(1.01);
}

.LiveMoveSeries2:hover {
    transform: scale(1.01);
}

.LiveMoveSeries3:hover {
    transform: scale(1.01);
}

.LiveMoveSeries2 {
    margin-left: 30px;
    box-shadow: 0px 17px 50px rgba(0, 182, 36, 0.5);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    width: 344px;
    height: 344px;
    border-radius: 20px;
    background: #00B624;
}

.LiveMoveSeries3 {
    margin-left: 30px;
    box-shadow: 0px 17px 50px rgba(79, 77, 255, 0.5);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    width: 344px;
    height: 344px;
    border-radius: 20px;
    background: #4F4DFF;
}

.MultiScreenParent {
    display: flex;
}

.MultiScreen {
    width: 43.7%;
    height: 104px;
    border-radius: 20px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.MultiScreenParent > :nth-child(n) {
    margin: 30px 0 0 30px;
}

.MultiScreen p:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A29B4;
    margin: 0 24px 0 15px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px 3.0904px 15.452px rgba(0, 0, 0, 0.02);
}

.img1 img {
    width: 30.43px;
    height: 30.44px;
}

.img2 {
    background: #0085FF !important;
}

.img3 {
    background: #FF1F00 !important;
}

.MultiScreen p:nth-child(2) {
    color: #282828;
    font-weight: 500;
    font-size: 30px;
}

.TvChannel {
    overflow: hidden;
    width: 100vw;
}

.channelHeader {
    /* max-width: 1660px !important; */
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 48px;
    margin-bottom: 24px;
    align-items: center;
}

.channelHeader p {
    font-weight: bold;
    font-size: 30px;    
    text-transform: uppercase;
}

.channelHeader a {
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.channels {
    display: flex;
}

.parentChild {
    display: flex!important;
    flex-direction: column;
    width: 212px;
    height: fit-content;
    margin-right: 26px;
}

.channelsChild {
    text-decoration: none;
    width: inherit;
    height: 187px;  
    border-radius: 15.452px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0px 3.0904px 15.452px rgba(0, 0, 0, 0.02);
}

.channelsChild:hover {
    border: 2px solid #00B624;
}

.text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    text-transform: uppercase;
}

/* slick slider code */

.slick-prev {
    display: none !important;
}

.slick-next {
    display: none !important;
}

.slick-slider .slick-list {
    height: 223px !important;
}

.chooseField {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(80, 80, 80, 0.8);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chooseFieldChild {
    width: 643px;
    height: 504px;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
}

.chooseFieldChild h3 {
    width: 100%;
    font-weight: bold;
    font-size: 50px;
    color: #282828;
    text-align: center;
    margin-top: 64px;
}

.chooseFieldChild p {
    color: #282828;
    opacity: 0.5;
    width: 77%;
    margin-top: 33px !important;
    margin: 0 auto;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.buttonDiv {
    position: relative;
    width: 417px;
    height: 79px;
    margin: 0 auto;
    margin-top: 57px;
    background: rgba(196, 196, 196, 0.26);
    box-shadow: inset 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    display: flex;
}

.colorButton {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 182, 36, 1);
    width: 50%;
    height: 100%;
    border-radius: 100px;
    z-index: 0;
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(0, 182, 36, 0.85);
}

.buttonDiv button {
    position: relative;
    background: transparent;
    z-index: 1;
    width: 50%;
    height: 100%;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button1:nth-child(1)::after {
    content: "On";
    position: absolute;
    color: rgba(40, 40, 40, 0.2);
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 37px;
    top: 88px;
    left: 50px;
}

.button1:nth-child(2)::after {
    content: "OFF";
    position: absolute;
    color: rgba(40, 40, 40, 0.2);
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 37px;
    top: 88px;
    left: 50px;
}

.activeButton::after{
    color: rgba(40, 40, 40, 1) !important;
}

.Xbutton {
    position: absolute;
    right: 0;
    width: 30px;
    height: 24px;
    background: url("../images/X.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    top: 36px;
    right: 35px;
    cursor: pointer;
}

.activeColorButton {
    background-color: rgba(255, 31, 0, 0.85);
    left: 50%;
    box-shadow: 0px 0px 20px rgba(255, 31, 0, 0.85);
}

/* choosefield */
@media screen and (min-width:1921px) and (max-width:2560px) {
    .chooseFieldChild {
        width: 857.33px;
        height: 672px;
        border-radius: 26.6667px;
    }

    .chooseFieldChild h3 {
        font-weight: bold;
        font-size: 66.6667px;
        margin-top: 85px;
    }

    .Xbutton {
        width: 40px;
        height: 32px;
        background-size: 40px 32px;
        top: 48px;
        right: 46px;
    }

    .chooseFieldChild p {
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        margin-top: 44px !important;
    }

    .buttonDiv {
        width: 556px;
        height: 105.33px;
        border-radius: 133.333px;
        margin-top: 76px;
    }

    .button1:nth-child(1)::after {
        top: 117px;
        font-weight: bold;
        font-size: 49.3333px;
        left: 99px;
    }

    .button1:nth-child(2)::after {
        top: 117px;
        font-weight: bold;
        font-size: 49.3333px;
    }

}

@media screen and (min-width:2800px) and (max-width:3840px) {
    .mainPageSizerDiv {
        margin-left: 390px;
        padding-top: 74px;
    }

    .mainPageSizerDiv {
        width: 100%;
        max-width: 3304px;
    }

    .header a > img {
        width: 306px;
        height: 118px;
    }

    .ProUl input {
        box-shadow: 0px 8.44376px 42.2188px rgba(0, 0, 0, 0.02);
        width: 778px;
        height: 94px;
        background-size: 34px 34px;
        border-radius: 105.547px;
        font-weight: normal;
        font-size: 36px;
        padding-left: 112px;
        background-position: 43px;
        margin-right: 80px;
    }

    .clock {
        font-weight: 500;
        font-size: 36px;
        width: 210px;
        margin-right: 81px;
    }

    .ProUl p img {
        width: 31px;
        height: 31px;
        margin-right: 30px;
    }

    .calendar {
        font-weight: 500;
        font-size: 36px;
    }

    .channelBlock {
        width: 1060px;
        height: 956px;
        border-radius: 40px;
        padding-top: 130px;
    }

    .channelBlock h2 {
        font-weight: 900;
        font-size: 80px;
        max-width: 569px;
    }

    .channelBlock img {
        width: 950.92px;
        height: 592.14px;
        position: relative;
        bottom: 80px;
    }

    .LiveMoveSeries1 {
        width: 688px;
        height: 688px;
        margin-left: 60px;
        border-radius: 40px;
        padding-top: 130px;
        box-shadow: 0px 34px 100px rgba(238, 159, 6, 0.5);
    }

    .LiveMoveSeries1 img {
        width: 282.56px;
        height: 300px;
    }

    .LiveMoveSeries1 p {
        font-weight: 800;
        font-size: 80px;
        margin-top: 42px;
    }

    
    .LiveMoveSeries2 {
        width: 688px;
        height: 688px;
        margin-left: 60px;
        border-radius: 40px;
        padding-top: 130px;
        box-shadow: 0px 34px 100px rgba(0, 182, 36, 0.5);
    }

    .LiveMoveSeries2 img {
        width: 300px;
        height: 300px;
    }

    .LiveMoveSeries2 p {
        font-weight: 800;
        font-size: 80px;
        margin-top: 42px;
    }

    .LiveMoveSeries3 {
        width: 688px;
        height: 688px;
        margin-left: 60px;
        border-radius: 40px;
        padding-top: 130px;
        box-shadow: 0px 34px 100px rgba(79, 77, 255, 0.5);
    }

    .LiveMoveSeries3 img {
        width: 381px;
        height: 300px;
    }

    .LiveMoveSeries3 p {
        font-weight: 800;
        font-size: 80px;
        margin-top: 42px;
    }

    .MultiScreenParent > :nth-child(n) {
        height: 208px;
        border-radius: 60px;
        margin: 60px 0 0 60px;
        padding: 34px 30px;
    }

    .MultiScreen p:nth-child(2) {
        font-weight: 500;
        font-size: 60px;
    }

    .MultiScreen p:nth-child(1) {
        width: 140px;
        height: 140px;
        border-radius: 10px;
        box-shadow: 0px 4.12053px 20.6026px rgba(0, 0, 0, 0.02);
    }

    .img2 img {
        width: 72px;
        height: 72px;
    }

    .img1 img {
        width: 60px;
        height: 60px;
    }


    .channelHeader a {
        font-weight: 500;
        font-size: 36px;
    }

    .channelHeader p{
        font-weight: bold;
        font-size: 60px;
    }

    .channelsChild {
        width: 424px;
        height: 374px;
        border-radius: 30.904px;
        box-shadow: 0px 6.18079px 30.904px rgba(0, 0, 0, 0.02);
    }

    .parentChild {
        width: fit-content !important;
        margin-right: 51px;
    }

    .slick-slider .slick-list {
        height: 450px !important;
    }

    .text {
        font-weight: bold;
        font-size: 36px;
        margin-top: 30px;
    }

    .slick-slide img {
        width: 335.66px;
        height: 111.89px;
    }
}

@media screen and (max-width:3720px) {
    .mainPageSizerDiv {
        margin-left: 260px;
    }
}

@media screen and (min-width:3300px) and (max-width:3600px) {
    .mainPageSizerDiv {
        max-width: 3000px;
    }

    .channelBlock img {
        width: 900px;
    }

    .LiveMoveSeries1 {
        width: 643px;
    }

    .LiveMoveSeries2 {
        width: 643px;
    }

    .LiveMoveSeries3 {
        width: 643px;
    }

    .channelHeader {
        max-width: 3000px !important;
    }

}

@media screen and (min-width:2801px) and (max-width:3300px) {
    .mainPageSizerDiv {
        max-width: 2500px;
    }

    .channelBlock img {
      width: 761px;
    }

    .LiveMoveSeries1 {
        width: 524px;
    }

    .LiveMoveSeries2 {
        width: 524px;
    }

    .LiveMoveSeries3 {
        width: 524px;
    }

    .channelHeader {
        max-width: 2500px !important;
    }
}

@media screen and (min-width:2050px) and (max-width:2800px) {
    .channelHeader {
        max-width: 2200px !important;
    }

    .mainPageSizerDiv {
        max-width: 2200px;
        width: 100%;
        margin-left: 260px;
        padding-top: 49px;
    }

    .MultiScreenParent > :nth-child(n) {
        margin: 40px 0 0 40px;
        padding: 22px 20px;
    }

    header > img {
        width: 204px !important;
        height: 78.67px !important;
    }

    .ProUl input {
        width: 518.67px;
        height: 62.67px;
        border-radius: 70.3647px;
        background-size: 23px 23px;
        font-size: 24px;
        background-position: 29px;
        padding-left: 74px;
        margin-right: 53px;
    }

    .clock {
        font-weight: 500;
        font-size: 24px;
        width: 140px;
        margin-right: 54px;
    }

    .ProUl p img {
        width: 20.67px;
        height: 20.67px;
        margin-right: 20px;
    }

    .calendar {
        font-weight: 500;
        font-size: 24px;    
    }

    .channelBlock {
        width: 706.67px;
        height: 637.33px;
        border-radius: 26.6667px;
        padding-top: 86px;
    }

    .channelBlock h2 {
        max-width: 379px;
        font-weight: 900;
        font-size: 53.3333px;
    }

    .channelBlock img {
        width: 633.95px;
        height: 394.76px;
        position: relative;
        bottom: 54px;
    }

    .LiveMoveSeries1 {
        width: 458.67px;
        height: 458.67px;
        border-radius: 26.6667px;
        padding-top: 86px;
        box-shadow: 0px 22.6667px 66.6667px rgba(238, 159, 6, 0.5);
    }

    .LiveMoveSeries1 img {
        width: 188.37px;
        height: 200px;
    }

    .LiveMoveSeries1 p {
        font-weight: 800;
        font-size: 53.3333px;
        margin-top: 28px;
    }

    .LiveMoveSeries2 {
        width: 458.67px;
        height: 458.67px;
        border-radius: 26.6667px;
        padding-top: 86px;
        box-shadow: 0px 22.6667px 66.6667px rgba(0, 182, 36, 0.5);
    }

    .LiveMoveSeries2 img {
        width: 200px;
        height: 200px;
    }

    .LiveMoveSeries2 p {
        font-weight: 800;
        font-size: 53.3333px;
        margin-top: 28px;
    }

    .LiveMoveSeries3 {
        width: 458.67px;
        height: 458.67px;
        border-radius: 26.6667px;
        padding-top: 86px;
        box-shadow: 0px 22.6667px 66.6667px rgba(79, 77, 255, 0.5);
    }

    .LiveMoveSeries3 img {
        width: 254px;
        height: 200px;
    }

    .LiveMoveSeries3 p {
        font-weight: 800;
        font-size: 53.3333px;
        margin-top: 28px;
    }

    .MultiScreen {
        height: 138px;
    }
    
    .MultiScreen p:nth-child(2) {
        font-weight: 500;
        font-size: 40px;
    }

    .MultiScreen p:nth-child(1) {
        width: 93.33px;
        height: 93.33px;
        border-radius: 6.66667px;
        box-shadow: 0px 6.18079px 30.904px rgba(0, 0, 0, 0.02);
    }

    .img1 img {
        width: 40px;
        height: 40px;
    }

    .img2 img {
        width: 48px;
        height: 48px;
    }

    .channelHeader a {
        font-weight: 500;
        font-size: 24px;
    }

    .channelHeader p {
        font-weight: bold;
        font-size: 40px;
    }

    .slick-slider .slick-list {
        height: 290px !important;
    }

    .channelsChild{
        width: 282.67px;
        height: 249.33px;
        border-radius: 20.6026px;
        box-shadow: 0px 4.12053px 20.6026px rgba(0, 0, 0, 0.02);
    }

    .parentChild {
        width: fit-content !important;
        margin-right: 33px;
    }


    .slick-slide img {
        width: 223.77px;
        height: 74.59px;
    }

    .text {
        font-weight: bold;
        font-size: 24px;
        margin-top: 20px;
    }
}

@media screen and (max-width:2470px){
    .mainPageSizerDiv {
        margin-left: 195px;
    }
}

@media screen and (max-width:2400px){
    .mainPageSizerDiv {
        max-width: 2000px;
    }

    .channelHeader {
        max-width: 2000px !important;
    }

    .channelBlock img {
        width: 475.46px;
        height: 296.07px;
        position: relative;
        bottom: 40px;
    }
}

@media screen and (max-width:2250px) {
    .channelHeader {
        max-width: 1795px !important;
    }
}

@media screen and (min-width:2050px) and (max-width:2250px){
    
    .mainPageSizerDiv {
        max-width: 1795px;
    }

    .LiveMoveSeries1 {
        width: 400px;
    }

    .LiveMoveSeries2 {
        width: 400px;
    }

    .LiveMoveSeries3 {
        width: 400px;
    }
}


/* choose field */
@media screen and (min-width:2561px) {
    .chooseFieldChild {
        width: 1286px;
        height: 1008px;
        border-radius: 40px;
    }

    .channelHeader {
        max-width: 3300px;
    }

    .Xbutton {
        width: 60px;
        height: 48px;
        background-size: 60px 48px;
        top: 72px;
        right: 70px;
    }

    .chooseFieldChild h3 {
        font-weight: bold;
        font-size: 100px;
        margin-top: 128px;
    }

    .chooseFieldChild p {
        font-weight: 500;
        font-size: 48px;
        margin-top: 66px !important;
        line-height: 60px;
    }

    .buttonDiv {
        width: 834px;
        height: 158px;
        border-radius: 200px;
        margin-top: 114px;
    }

    .button1:nth-child(1)::after {
        font-weight: bold;
        font-size: 74px;
        top: 180px;
        left: 160px;
    }

    .button1:nth-child(2)::after {
        font-weight: bold;
        font-size: 74px;
        top: 180px;
        left: 90px;
    }
}

@media screen and (max-width:2050px) {
    .channelHeader {
        max-width: 1660px !important;
    }
}


